

.deal-offer-heading{
    font-size: 25px;
    color: black;
    font-family: "Roboto";
    font-weight: bold;
    text-align: center;
}
.card-item-img{
    height: 150px;
    width: 150px;
    border-radius: 8px;
    margin: 5px;
}


.deals-offers-card{
    border-radius: 10px;
}
.trending-blog-desc{
    font-size: 19px;
    color: #bea4b6;
    font-family: "Roboto";
}

.trending-blog-heading{
    font-family: "Roboto";
    font-size: 22px;
    font-weight: bold;
}
.trending-blog-tag{
    font-size: 15px;
    color: #bea4b6;
    font-family: "Roboto";
}
.trending-blog-img{
    width:100%;
}

.credit-card-img{
    height:180px;
    width:300px;
}
.discount-percent{
    font-style: italic;
    font-weight: bold;
}
.special-offer-description{
    font-family: "Roboto";
    color: white;
    font-size: 20px;

}
.special-offer-heading{
    font-family: "Roboto";
    font-size: 25px;
    color: #ad2167;
    margin-top: 10px;
    margin-bottom: 8px;
    font-weight: bold;
}
.special-offer-img{
    height: 250px;
    width:300px;
}

.special-offers-container{
    background-image: linear-gradient(to right,#f49541,#dd5d97);
}

.sections-heading{
    font-family: "Roboto";
    font-size: 30px;
    font-weight: bold;
}
.our-products-card1 {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/ecommerce-products-headphones-bg.png");
    background-size: cover;
    border-radius: 5px;
    height: 75vh;
}

.our-products-card-button {
    width: 50%;
    border-radius: 30px;
    color: #ff9f00;
}

.our-products-card-title {
    color: white;
}

.our-products-card2 {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/ecommerce-products-laptops-bg.png");
    background-size: cover;
    border-radius: 5px;
    height: 75vh;
}

.all-offers-navigator {
    text-align: right;
}

.service-description{
    font-family: "Roboto";
    font-size: 18px;
}
.service-heading{
    font-family: "Roboto";
    font-size: 25px;
    font-weight: bold;
}
.services-item-container{
    border-radius: 10px;
}

.services-item-img{
    height: 100px;
    width: 100px;
}
.ecommerce-carousel{
    height: 100vh;
}
.nav-item-text{
    color:black;
    font-size: 20px;
    font-weight: bold;
}


.logo-img{
    height: 100px;
    width:200px
}
